USE [master]
GO
/****** Object:  Database [QLTAIKHOAN]    Script Date: 27/03/2025 15:02:02 ******/
CREATE DATABASE [QLTAIKHOAN]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLTAIKHOAN', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.KMT\MSSQL\DATA\QLTAIKHOAN.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLTAIKHOAN_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.KMT\MSSQL\DATA\QLTAIKHOAN_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLTAIKHOAN].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLTAIKHOAN]
GO
/****** Object:  User [kiwi]    Script Date: 27/03/2025 15:02:03 ******/
CREATE USER [kiwi] FOR LOGIN [kiwi] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[taikhoan1]    Script Date: 27/03/2025 15:02:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[taikhoan1](
	[username] [nvarchar](2000) NOT NULL,
	[password] [nvarchar](2000) NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
